*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    p {
        font-size: 1.5vh;
    }
    p::first-letter {
        text-transform: capitalize;
    }
    a{
        font-size: 1.5vh;
        color: $color-white;
    }

    a::first-letter {
        text-transform: capitalize;
    }

    
    h1{
        font-size: 3.5vh;
    }
    h2{
        font-size: 2vh;
    }
    h3{
        font-size: 1vh;
    }
}


.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.space{
    padding-top: 1vh;
}
body{
    width: 100%;
}
