form {
    height: 97%;
    width: 94%;
    max-height: 90vh;
    background-color: $color-white;
    z-index: 1;
    border-radius: 1vw;
    box-shadow: 0rem 0rem 0.5rem 0rem $color-black;
    @extend .flexCenter;
    flex-direction: column;
    .form-dados{
        height: 35%;
        width: 90%;
        background-color: $color-white;
        margin: auto;

        div{
            @extend .flexCenter;
            flex-direction: column;
            align-items: flex-start;
            .input-form{
                @extend .flexCenter;
                width: 100%;
                height: 100%;
                margin-bottom: 5%;
                .ico{
                    position: absolute;
                    left: 10%;
                }
                input, select{
                    height: 4vh;
                    width: 100%;
                    border: 0.1rem solid rgba(0, 0, 0, 0.2);
                    text-indent: +15%;
                    font-size: 100%;
                    &::placeholder {
                        font-weight: bold;
                        text-align: start;
                        opacity: 0.5;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.5);
                    }
                    option:checked {
                        font-weight: bold;
                        text-align: start;
                        opacity: 0.5;
                      }
                }
            }
        }
        .form-header{
            padding-left: 4%;
            height: 35%;
            h2{
                opacity: 0.45;
                margin-bottom: 2%;
            }
            h3{
                color: $color-blue;
                font-weight: 800;
            }
        }
    }
    .form-tec{
        height: 30%;
        width: 100%;
        background-color: $color-blue;
        margin: 0;
        padding: 0;
    }
    .form-group{
        @extend .flexCenter;
        flex-direction: column;
        height: 35%;
        background-color: $color-white;
    }

    
}