header {
    background-color: $color-blue;
    @extend .flexCenter;
    flex-direction: column;
    .container {
        @extend .flexCenter;
        justify-content: space-around;
        width: 80%;
        height: 10vh;
        img {
            width: 17vh;
            transition: all 300ms linear 0s;
            &:hover {
                width: 17.3vh;
            }
        }
        nav{
            display: flex;
            flex-wrap: wrap;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                li{
                    margin: 1vh;
                    margin-right: 2vw;
                    text-align: center;
                }
                a {
                    color: $color-white;
                    transition: all 300ms linear 0s;
                    &:hover {
                        font-weight: 900;
                        opacity: 0.8;
                    }
                }
            }
        }
        .button{
            @extend .flexCenter;
            width: 17vw;
            max-width: 15rem;
            height: 5vh;
            min-height: 20%;
            text-align: center;
        }
        .menu{
            padding: 2%;
            text-align: center;
            border-radius: 15%;
            border: 0.1rem solid $color-blue-l;
            
            &:hover{
                border: 0.1rem solid $color-blue;
                background-color: $color-blue-l;
                cursor: pointer;
            }
        }
        .menu-arrow{
            z-index: 1000;
            padding: 1%;
            text-align: center;
            border-radius: 15%;
            border: 0.1rem solid $color-blue-l;
            &:hover{
                border: 0.1rem solid $color-blue;
                background-color: $color-blue-l;
                cursor: pointer;
            }
        }
    }
    .separator{
        width: 100%;
        height: 0.1rem;
        background-image: linear-gradient(to right, transparent 3%, $color-white, transparent 97%);
        
    }


}

