header {
    background-color: $color-blue;
    @extend .flexCenter;
    flex-direction: column;
    .container {
        @extend .flexCenter;
        justify-content: space-between;
        width: 80%;
        height: 10vh;
        margin: auto;
    }
    img {
        width: 17vh;
        transition: all 300ms linear 0s;
        &:hover {
            width: 17.3vh;
        }
    }
    ul {
        display: flex;
        li{
            margin: 1vh;
        }
        a {
            text-decoration: none;
            color: $color-white;
            text-transform: capitalize;
            font-size: 1.8vh;
            transition: all 300ms linear 0s;
            &:hover {
                font-weight: 900;
                opacity: 0.8;
        }
        }
    }
    .button{
        @extend .flexCenter;
        width: 17vw;
        max-width: 15rem;
        height: 5vh;
    }
    span{
        width: 100%;
        height: 0.3vh;
        background-image: linear-gradient(to right, transparent 3%, $color-white, transparent 97%);
    }
}

