main{
    @extend .flexCenter;
    background-color: $color-blue;
    flex-direction: column;
    p{
        font-weight: 540;
    }

    .cadastro{
        height: 100vh;
        width:100% ;
        @extend .flexCenter;
        background: url(../img/bannertopo.png) no-repeat -10vw;
        background-size: contain ;
        .formulario{
            @extend .flexCenter;
            position: absolute;
            max-width: 70%;
            max-height: 80%;
            height: 75%;
            width: 30%;
            min-width: 40vh;
            right: 8%;
            top: 15%;
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 2vh;
                border: 0.1vw solid transparent;
                background: linear-gradient(45deg, $color-white,transparent, transparent, $color-white) border-box;
                -webkit-mask: linear-gradient($color-white 0 0), padding-box linear-gradient($color-white 0 0);
                mask-composite: exclude;
            }
        }

        .vector{
            position: absolute;
            height: 20%;
            width: 50%;
            z-index: 1000;
            border-radius:45% 55% 47% 53% / 80% 55% 45% 20% 

        }
    }

    .projeto{
        width: 80%;
        height: 60vh;
        @extend .flexCenter;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -5%;
        justify-content: flex-start;
        .img-dev{
            position: relative;
            left: 0;
            top: 0;
            width: 40%;
            height: 60%;
            background: url(../img/dev.png) no-repeat;
            background-size: contain ;
        }
        .intro-projeto{
            position: absolute;
            right: 10%;

            max-width: 40%;
            min-width: 30%;
            flex-direction: column;
            padding-left: 5%;
            color: $color-white;
            h1{
                color: $color-blue-l;
            }
        }
    }

    .problema{
        background-color: $color-white;   
        flex-direction: column;
        height: 80vh;
        margin: auto;
        @extend .flexCenter;

        

        .intro-problema{
            width: 80%;
            display: flex;
            flex-direction: row;
            @extend .flexCenter;
            height: 80vh;
            .woman{
                position: relative;
                left: 0%;
                top: 0%;
                width: 100%;
                height: 100%;
                background: url(../img/Container2.png) no-repeat;
                background-size: contain ;
            }
            article{
                display: flex;
                flex-direction: column;
                width: 40%;
                min-width: 35vw;
                height: 60%;
                margin: auto;
                h1{
                    background: linear-gradient(to right, $color-blue, $color-blue-l);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 900;
                    height: 15%;
                }
                h2{
                    font-weight: 900;
                    height: 15%;

                }
                div{
                    width: 100%;
                    height: 0.1vh;
                    background-color: $color-black;
                    opacity: .2;
                    margin-top: 8%;
                    margin-bottom: 5%;
                }
            }
        }
        .card{
            position: relative;
            margin-top: -15%;
        }
    }

    .jornada{
        background-color: $color-white;
        width: 100%;
        min-height: 80vh;
        @extend .flexCenter;
        justify-content: center;
        flex-direction: column;
        .top-jornada{
            max-width: 60%;
            @extend .flexCenter;
            img{
               // background-color: black;
                width: 50%;
            }
            h1{
                background: linear-gradient(to right, $color-blue, $color-blue-l );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 900;
                min-width: 30%;
                text-align: center;
            }
            .inverter{
                transform: scaleX(-1);
            }
        }
        .btn-cadastro{
            @extend .flexCenter;
            justify-content: space-around;   
            margin-top: 5vh;
            height: 6vh;
            width: 50vw;
            max-width: 50vh;
            text-align: center;
        }
        .vetor2{
            margin-top: 2vh ;
            align-items: flex-end;
        }
    }

    .objetivos{
        width: 80vw;
        height: 60vh;
        @extend .flexCenter;
        flex-direction: column;
        h1{
            color: $color-white;
            font-weight: 900;
            padding-top: 5%;
        }
    }
}