main{
    @extend .flexCenter;
    background-color: $color-blue;
    max-width: 100%;
    flex-direction: column;
    p{
        font-weight: 540;
    }

    .span-white{
        background-color: $color-white;
        width: 100%;
        
        .problema{
            width: 80vw;
            height: 100vh;
            @extend .flexCenter;
            flex-direction: column;
            margin: auto;
            margin-top: -15vh;

            .intro-problema{
                display: flex;
                flex-direction: row;
                margin: auto;
                img{
                    width: 40vh;
                }
                article{
                    margin-top: 7vh;
                    margin-left: 7vh;
                    color: $color-black;
                    h1{
                        background: linear-gradient(to right, $color-blue, $color-blue-l);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 900;
                    }
                    h2{
                        font-weight: 900;
                    }
                    div{
                        width: 100%;
                        height: 0.1vh;
                        margin-top: 2.5vh;
                        margin-bottom: 2.5vh;
                        background-color: $color-black;
                        opacity: .2;
                    }
                }
            }
            .card{
                margin-top: -25%;
            }
        }

        .jornada{
            width: 80vw;
            height: 60vh;
            @extend .flexCenter;
            justify-content: flex-start;
            flex-direction: column;
            margin: auto;
            .top-jornada{
                @extend .flexCenter;
                h1{
                    background: linear-gradient(to right, $color-blue, $color-blue-l );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 900;
                    width: 20vw;
                    text-align: center;
                }
                .inverter{
                    transform: scaleX(-1);
                }
            }
            .cadastro{
                @extend .flexCenter;
                justify-content: space-around;   
                margin-top: 5vh;
                height: 6vh;
                width: 50vw;
                max-width: 50vh;
            }
            .vetor2{
                margin-top: 2vh ;
                align-items: flex-end;
            }
        }
    }

    .cadastro{
        height: 100vh;
        width:100% ;
        @extend .flexCenter;
        background: url(../img/bannertopo.png) no-repeat -10vw;
        background-size: contain ;
        .formulario{
            @extend .flexCenter;
            position: absolute;
            max-width: 70%;
            max-height: 80%;
            height: 75%;
            width: 30%;
            min-width: 40vh;
            right: 8%;
            top: 15%;
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 2vh;
                border: 0.1vw solid transparent;
                background: linear-gradient(45deg, $color-white,transparent, transparent, $color-white) border-box;
                -webkit-mask: linear-gradient($color-white 0 0), padding-box linear-gradient($color-white 0 0);
                mask-composite: exclude;
            }
        }

        .vector{
            position: absolute;
            height: 20%;
            width: 50%;
            z-index: 1000;
            border-radius:45% 55% 47% 53% / 80% 55% 45% 20% 

        }
    }

    .projeto{
        width: 80vw;
        height: 60vh;
        @extend .flexCenter;
        flex-direction: row;
        margin: auto;
        img{
            width: 40vh;
        }
        .intro-projeto{
            flex-direction: column;
            padding-left: 5vw;
            color: $color-white;
            h1{
                color: $color-blue-l;
            }
        }
    }

    .objetivos{
        width: 80vw;
        height: 40vh;
        @extend .flexCenter;
        flex-direction: column;
        h1{
            color: $color-white;
            font-weight: 900;
            padding-top: 5%;
        }
    }
}