/*FONTE*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Orbitron:wght@500&family=Unbounded:wght@300&display=swap");
/**/
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
* p {
  font-size: 1.5vh;
}
* p::first-letter {
  text-transform: capitalize;
}
* a {
  font-size: 1.5vh;
  text-decoration: none;
  color: #FFF;
}
* a::first-letter {
  text-transform: capitalize;
}
* h1 {
  font-size: 3.5vh;
}
* h2 {
  font-size: 2vh;
}
* h3 {
  font-size: 1vh;
}

.flexCenter, footer .btn, main .objetivos, main .projeto, main .cadastro, main .span-white .jornada .cadastro, main .span-white .jornada .top-jornada, main .span-white .jornada, main .span-white .problema, main, header .button, header .container, header, .card-jornada .card-blue div, .card div, .card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  padding-top: 1vh;
}

.card {
  display: flex;
  margin: auto;
}
.card h2 {
  text-transform: capitalize;
}
.card div {
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 0.4vh;
  margin-right: 0.4vh;
  background-color: #FFF;
  width: 26vw;
  height: 20vh;
  border-radius: 2vh;
  box-shadow: 0vh 2vh 4vh -2vh #000;
}
.card div h2 {
  padding-top: 5%;
}
.card div p {
  padding: 5%;
  text-align: center;
}

.card-jornada {
  display: flex;
  z-index: 1;
  margin-top: 5vh;
}
.card-jornada .card-blue {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1A7FBD;
  border-radius: 1vh;
  box-shadow: 0vh 1vh 2vh -1vh #000;
  width: 32vh;
  height: 8vh;
  margin: 1vh;
  margin-bottom: 2vh;
}
.card-jornada .card-blue div {
  background-color: #FFF;
  margin: 1rem;
  padding: 1vh;
  height: 40%;
  width: 15%;
  border-radius: 1vh;
}
.card-jornada .card-blue img {
  height: 70%;
  width: 70%;
}
.card-jornada .card-blue p {
  color: #FFF;
}

.btn {
  border-radius: 1vh;
  border-style: none;
  background-color: #000;
  font-weight: 700;
  transition: all 900ms linear 0s;
  font-size: 1.8vh;
}
.btn:hover {
  background-color: #A4DCFF;
  color: #000;
  opacity: 0.9;
}
.btn a {
  text-decoration: none;
  color: #FFF;
}

header {
  background-color: #1A7FBD;
  flex-direction: column;
}
header .container {
  justify-content: space-between;
  width: 80%;
  height: 10vh;
  margin: auto;
}
header img {
  width: 17vh;
  transition: all 300ms linear 0s;
}
header img:hover {
  width: 17.3vh;
}
header ul {
  display: flex;
}
header ul li {
  margin: 1vh;
}
header ul a {
  text-decoration: none;
  color: #FFF;
  text-transform: capitalize;
  font-size: 1.8vh;
  transition: all 300ms linear 0s;
}
header ul a:hover {
  font-weight: 900;
  opacity: 0.8;
}
header .button {
  width: 17vw;
  max-width: 15rem;
  height: 5vh;
}
header span {
  width: 100%;
  height: 0.3vh;
  background-image: linear-gradient(to right, transparent 3%, #FFF, transparent 97%);
}

main {
  background-color: #1A7FBD;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
}
main p {
  font-weight: 540;
}
main .span-white {
  background-color: #FFF;
  width: 100%;
}
main .span-white .problema {
  width: 80vw;
  height: 100vh;
  flex-direction: column;
  margin: auto;
  margin-top: -15vh;
}
main .span-white .problema .intro-problema {
  display: flex;
  flex-direction: row;
  margin: auto;
}
main .span-white .problema .intro-problema img {
  width: 40vh;
}
main .span-white .problema .intro-problema article {
  margin-top: 7vh;
  margin-left: 7vh;
  color: #000;
}
main .span-white .problema .intro-problema article h1 {
  background: linear-gradient(to right, #1A7FBD, #A4DCFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
main .span-white .problema .intro-problema article h2 {
  font-weight: 900;
}
main .span-white .problema .intro-problema article div {
  width: 100%;
  height: 0.1vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  background-color: #000;
  opacity: 0.2;
}
main .span-white .problema .card {
  margin-top: -25vh;
}
main .span-white .jornada {
  width: 80vw;
  height: 60vh;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
}
main .span-white .jornada .top-jornada h1 {
  background: linear-gradient(to right, #1A7FBD, #A4DCFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  width: 20vw;
  text-align: center;
}
main .span-white .jornada .top-jornada .inverter {
  transform: scaleX(-1);
}
main .span-white .jornada .cadastro {
  justify-content: space-around;
  margin-top: 5vh;
  height: 6vh;
  width: 50vw;
  max-width: 50vh;
}
main .span-white .jornada .vetor2 {
  margin-top: 2vh;
  align-items: flex-end;
}
main .cadastro {
  height: 80vh;
}
main .cadastro .div-img {
  max-height: 100%;
}
main .cadastro .div-img img {
  max-width: 100%;
}
main .projeto {
  width: 80vw;
  height: 60vh;
  flex-direction: row;
  margin: auto;
}
main .projeto img {
  width: 40vh;
}
main .projeto .intro-projeto {
  flex-direction: column;
  padding-left: 5vw;
  color: #FFF;
}
main .projeto .intro-projeto h1 {
  color: #A4DCFF;
}
main .objetivos {
  width: 80vw;
  height: 40vh;
  flex-direction: column;
}
main .objetivos h1 {
  color: #FFF;
  font-weight: 900;
  padding-top: 5%;
}

/* #form {
        width: 100%;
        background: $primary-color;
        padding: 80px 0;
        margin: 0;
        @extend .flexCenter;
        .button {
            margin: 20px 8px 10px;
        }
        h3 {
            margin-bottom: 30px
        }
        form {
            @include boundaries(false);
            background: $white-color;
            padding: 40px;
            box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15), 0px 10px 20px -10px rgba(0, 0, 0, 0.1);
            .form-group {
                display: flex;
                flex-direction: row;
            }
        }
        label {
            display: none;
        }
    }

    .form-group label .right-inline {
        text-align: right;
        padding-right: 8px;
        padding-left: 10px;
        width: auto;
    }

    .form-group .input-control {
        flex: 1 1;
        display: block;
        margin: -4px 8px 10px;
        padding: 12px;
        font-size: 1.6rem;
    }
*/
.form1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 65vh;
  width: 30vw;
  background-color: #FFF;
  border-radius: 2vh;
  padding: 2vw;
}
.form1 div h2 {
  font-size: larger;
  opacity: 0.5;
}
.form1 div h3 {
  color: #1A7FBD;
  font-size: small;
  font-weight: 800;
}

footer {
  background-color: #000;
}
footer .span-black {
  height: 30vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: #FFF;
  font-weight: 100;
}
footer a {
  text-decoration: none;
}
footer span {
  width: 0.1rem;
  height: 10vh;
  background-color: #FFF;
  opacity: 0.8;
}
footer .soc ul {
  display: flex;
  flex-direction: row;
  width: 20%;
}
footer .soc ul li {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}
footer .soc ul li a img {
  width: 1rem;
  height: 1rem;
}
footer .soc p {
  font-size: 0.5rem;
}
footer .btn {
  margin-top: -5%;
  background-color: #FFF;
  width: 12vw;
  height: 5vh;
  box-shadow: none;
}
footer .btn a {
  color: #000;
}
footer .btn a:hover {
  color: #FFF;
}
footer .btn:hover {
  background-color: #000;
  border: 0.1rem solid #FFF;
}
footer div ul li {
  margin-top: 10%;
}
footer .contato p {
  margin-top: 10%;
}/*# sourceMappingURL=main.css.map */